<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento de horario, confira os detalhes abaixo:</p>

<p>
  <strong>Cliente: </strong> {{user}} <br />
  <strong>Data/Horario: </strong> {{ date }} <br />
  <br />
  <small style="font-family:Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color: #222; max-width: 600px">
    O horário está novamente disponivel para novos agendamentos.
  </small>
</p>
